
/*  Snake   */

body {
 background-color: #81DAF5;}

div.central {
    background-color: #81DAF5;
    color: blue;
    margin: 20px 0 20px 0;
    padding: 200px;
}


div.formulario {
  position: absolute;
  top: 450px; 
  left: 50px;
}
div.resultado {
  position: absolute;
  top: 250px; 
  left: 1050px;
}
div.record {
  position: absolute;
  top: 450px; 
  left: 1050px;
}
.button {
  
  padding: 3px 0px;
  font-size: 24px;
  cursor: pointer;

  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
}

.button1 {border-radius: 12px;}

div.controles {
  position: absolute;
  top: 150px; 
  left: 180px;
}

div.publi {
  position: absolute;
  top: 550px; 
  left: 425px;
}



	.board{
			width: 399px;
			background-color: lightgrey;
			border: 1px solid gray;
			position: relative;
			margin-left: 0;
			margin-top: 0;
			}
			#board{
			height: 399px;
			border-bottom: 0px;
			}
			#apple{
			position: absolute;
			background-color: red;
			height: 7px;
			width: 7px;
			overflow: hidden;
			}
			.snake{
			position: absolute;
			top: 200px;
			left: 200px;
			background-color: black;
			height: 7px;
			width: 7px;
			overflow: hidden;
			}
			.snake2{
			position: absolute;
			top: -10px;
			left: -10px;
			background-color: black;
			height: 7px;
			width: 7px;
			overflow: hidden;
			}
			#score{
			height: 50px;
			margin-top: 0px;
			}
			#cscore{
			color: black;
			padding-left: 10px;
			float: left;
			width: 25%;
			font-size: xx-large;
			}
			#buttons{
			float: right;
			width: 50%;
			text-align: right;
			padding-top: 10px;
			text-align: center;
			}
			#notice{
			position: absolute;
			top: 1em;
			left: 1em;
			right: 1em;
			text-align: center;
			font-size: 150%;
			}
			#i2{
			position: absolute;
			bottom: 1em;
			left: 1em;
			right: 1em;
			text-align: center;
			font-size: 95%;
			}
			
		

		
		
		/* Birds    */
		
		
		
		

div.central {
    background-color: #81DAF5;
    color: blue;
    margin: 20px 0 20px 0;
    padding: 200px;
}

div.usu{
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;


}
div.formulario {
  position: absolute;
  top: 450px; 
  left: 50px;
}

.button {
  
  padding: 3px 13px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  align: center;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
}

.button1 {border-radius: 12px;}
div.controles {
  position: absolute;
  top: 150px; 
  left: 180px;
}

  #game_div, p {
      width: 400px;
      margin: auto;
      margin-top: 20px;
    }
	div.resultado {
  position: absolute;
  top: 250px; 
  left: 1050px;
		
		
		
		
		
		
	
		
		
		
		
		
		
		
		
		
		
		

/* Pacman */ 		
			
			div.controles {
  position: absolute;
  top: 150px; 
  left: 100px;
}


div.central {
    background-color: #81DAF5;
    color: blue;
    margin: 20px 0 20px 0;
    padding: 200px;
}

div.usu{
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;


}
div.formulario {
  position: absolute;
  top: 450px; 
  left: 50px;
}

.button {
  
  padding: 3px 13px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  align: center;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
}

.button1 {border-radius: 12px;}


/* Pacman     */
	 
div.controles {
  position: absolute;
  top: 150px; 
  left: 180px;
}
      @font-face {
	    font-family: 'BDCartoonShoutRegular';
        src: url('BD_Cartoon_Shout-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
      }
      #pacman {
        height:450px;
        width:342px;
        margin:20px auto;
      }
      #shim { 
        font-family: BDCartoonShoutRegular; 
        position:absolute;
        visibility:hidden
      }
      h1 { font-family: BDCartoonShoutRegular; text-align:center;font-size: 8px; }
      body { width:342px; margin:0px auto; font-family:sans-serif; }
      a { text-decoration:none; }
	  
	  div.resultado {
  position: absolute;
  top: 250px; 
  left: 1050px;
}