caption, .table a{
    background-color: #f9f9f9;
    color: #777;
    text-align: center;
}

caption.name {
    font-size: 2em;
}

.table a
{
    font-size: 1.5em ;
    display:block;
    text-decoration: none;
}
/*colores de las primeras posiciones*/
tr.rank0 {
    background-color: #F5E79C !important;
}
tr.rank1 {
    background-color: #ECEEFA !important;
}
tr.rank2 {
    background-color: #F2CF89 !important;
}
/*medallas de las primeras posiciones */
span.rank1 {
    content:url(../img/first.png);
    transform: scale(.7);
}
span.rank2 {
    content:url(../img/second.png);
    transform: scale(.7);
}
span.rank3 {
    content:url(../img/third.png);
    transform: scale(.7);
}
