h1 {
  text-align: center;
}

body {
  /* Ubicación de la imagen */
  background-image: url(../img/maquina2.jpg);

  /* Para dejar la imagen de fondo centrada, vertical y
  horizontalmente */
  background-position: center center;

  /* Para que la imagen de fondo no se repita */
  background-repeat: no-repeat;

  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;

  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;

  /* Se muestra un color de fondo mientras se está cargando la imagen
  de fondo o si hay problemas para cargarla */
  background-color: #66999;
}

.button {
  padding: 3px 13px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button1 {border-radius: 12px;}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.m-b-md {
  margin-bottom: 30px;
}
